In [1]:
import numpy as np
import pandas as pd


air = pd.read_csv("C:\\Users\\Administrator\\Desktop\\Jupiter notebooks\\DataSets\\airquality.csv")


#1.	Fetch the observations for 9 day of June

air[(air.Month == 6) & (air.Day == 9)]

    Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
39          40   71.0    291.0  13.8    90      6    9

In [2]:
#2.	Find Average temperature for the month of June. 

air[air.Month == 6].mean()["Temp"]

79.1

In [3]:
#3.	To which day of June has the least temperature

minTemp = air[air.Month ==6].min()["Temp"]
air.Day[(air.Month == 6) & (air.Temp == minTemp)]

48    18
Name: Day, dtype: int64

In [4]:
#4.	Find Maximum Ozone value for the month of May

air[air.Month == 5].max()["Temp"]

81.0

In [5]:
#5.	Find the count of the missing values in the ozone column of the data set

air.Ozone.isnull().sum()

37

In [6]:
#6.	Find out What is the mean of the Ozone column in this dataset

air["Ozone"].mean()

42.12931034482759

In [7]:
#7.	Find out which month has the highest temperature

air.groupby(["Month"]).max()["Temp"]
air[air.Temp == 93]

air.Month[max(air.Temp)]

8

In [8]:
#8.	Find out the wind value when the Ozone becomes maximum

air["Ozone"].max()
air[air.Ozone ==168]

air[air.Ozone == air.Ozone.max()]["Wind"]

116    3.4
Name: Wind, dtype: float64

In [9]:
#9.	Find out the months for which the airquality observations have been carried out

air.Month.unique()

array([5, 6, 7, 8, 9], dtype=int64)

In [10]:
#10.	Find the Ozone and temperature values for the 1st observation of every month.

air[air.Day ==1]
air[air.Day == 1][["Month","Ozone","Temp"]]

     Month  Ozone  Temp
0        5   41.0    67
31       6    NaN    78
61       7  135.0    84
92       8   39.0    81
123      9   96.0    91

In [11]:
#11.	Which day of which month corresponds to the least Ozone Value. 

air[air.Ozone == air.Ozone.min()][["Day","Month"]]

    Day  Month
20   21      5

In [12]:
#12.	Convert the temperature for all the observations to Centigrade scale

def Celsius(T) :
    return(round(float(5.0)/(9.0)*(T-32)),2)
Celsius(air.Temp)

(0      19.0
 1      22.0
 2      23.0
 3      17.0
 4      13.0
 5      19.0
 6      18.0
 7      15.0
 8      16.0
 9      21.0
 10     23.0
 11     21.0
 12     19.0
 13     20.0
 14     14.0
 15     18.0
 16     19.0
 17     14.0
 18     20.0
 19     17.0
 20     15.0
 21     23.0
 22     16.0
 23     16.0
 24     14.0
 25     14.0
 26     14.0
 27     19.0
 28     27.0
 29     26.0
        ...
 123    33.0
 124    33.0
 125    34.0
 126    34.0
 127    31.0
 128    29.0
 129    27.0
 130    26.0
 131    24.0
 132    23.0
 133    27.0
 134    24.0
 135    25.0
 136    22.0
 137    22.0
 138    26.0
 139    19.0
 140    24.0
 141    20.0
 142    28.0
 143    18.0
 144    22.0
 145    27.0
 146    21.0
 147    17.0
 148    21.0
 149    25.0
 150    24.0
 151    24.0
 152    20.0
 Name: Temp, Length: 153, dtype: float64, 2)